@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

.mar15 {
	margin: 15px;
}

.size50 {
	max-width: 300px;
	height: auto;
	width: 100%;
}

.size33 {
	max-width: 200px;
	height: auto;
	width: 100%;
}

.mw50 {
	max-width: 50%;
}

.w100 {
	width: 100%;
}

.bg-orange {
	background-color: #ff926b;
}

.bg-black {
	background-color: black;
	color: white;
}

.bg-white {
	background-color: #f8f9fb;
}

.orange {
	color: #ff926b;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	min-height: 60px;
}

.icon {
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	transition: 0.2s;
	padding: 10px 20px;
	border-radius: 20px;
}
.icon:hover {
	background-color: rgb(219, 219, 219);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	cursor: pointer;
	padding: 10px 20px;
	color: #ff926b;
	border-radius: 20px;
	transition: 0.2s;
}
.button:hover {
	background-color: #ff926b;
	color: white;
}

.buttonRev {
	cursor: pointer;
	background-color: #ff926b;
	color: white;
	border-radius: 20px;
	padding: 10px 20px;
	transition: 0.2s;
	max-width: 100px;
}
.buttonRev:hover {
	color: #ff926b;
	background-color: white;
}

.content {
	padding: 0 2%;
	height: 1000px;
}

.top {
	padding: 6% 25% 10px 25%;
	height: 50%;
	background-color: #ff926b;
	text-align: center;
}
.fa-play {
	margin: 10px auto;
	background-color: white;
	padding: 10px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.box {
	display: flex;
	background-color: white;
	flex-direction: column;
	align-items: center;
	margin: 0 -35%;
	margin-top: 10%;
	width: 170%;
	height: 750px;
	border-radius: 5px;
	box-shadow: 0 0 20px grey;
	overflow: hidden;
}

.subHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	border-radius: 5px;
	width: 90%;
}

.iconThin {
	cursor: pointer;
	font-size: 24px;
	transition: 0.2s;
	padding: 10px 20px;
	border-radius: 20px;
}
.iconThin:hover {
	background-color: rgb(219, 219, 219);
}

.buttonBlack {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 20px;
	transition: 0.2s;
}
.buttonBlack:hover {
	background-color: #ff926b;
	color: white;
}

.buttonBlackRev {
	cursor: pointer;
	background-color: black;
	color: white;
	border-radius: 20px;
	padding: 10px 20px;
	transition: 0.2s;
}
.buttonBlackRev:hover {
	color: #ff926b;
	background-color: white;
}

.subContainer {
	width: 100%;
	min-height: 65%;
	display: flex;
	justify-content: space-around;
	padding: 5% 0;
	background-image: url("https://wallpaperaccess.com/full/2848589.jpg");
	background-position: bottom;
	background-size: 90% 63%;
	background-repeat: no-repeat;
}

#quoted {
	min-height: 300px;
	width: 30%;
	font-size: 30px;
	text-align: center;
	z-index: 1;
}

#outlined {
	min-height: 300px;
	width: 20%;
	font-size: 30px;
	text-align: center;
	border: 2px solid black;
	z-index: 1;
}

#text {
	display: flex;
	align-items: center;
	width: 90%;
	height: 100%;
}

.bottom {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 1000px;
	padding: 550px 5% 0 5%;
}

.row {
	margin: 50px 0;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.column {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.company {
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
	font-family: "Lobster", cursive;
	color: rgb(94, 92, 92);
	padding: 5px 15px;
	border-radius: 20px;
	box-shadow: 10px 10px 3px #eee;
	transition: 0.3s;
}

.company:hover {
	transform: scale(1.5);
	color: rgb(54, 129, 129);
}

.textbox {
	padding: 15px;
	margin: 0 15px;
}

.card {
	padding: 7px;
	border-radius: 15px;
	transition: 0.3s;
	background-color: white;
}

.card:hover {
	box-shadow: 0 0 30px rgba(128, 128, 128, 0.363);
}

.he200 {
	height: 250px;
}
